.editable-on-click {
    height: 250px;
    width: 250px;
    position: relative;
    & > .editable-on-click-edit-container {
        position: absolute;
        background-color: transparent;
        opacity: 0;
    }
    & > .editable-on-click-edit-container:hover {
        opacity: 1;
        cursor: pointer;
    }
}
