.text-display {
    position: absolute;
    top: 10vh;
    left: 20vw;
    height: 90vh;
    width: 80vw;
    border: 1px solid black;
}

.card-tree-container {
    position: fixed;
    width: 20vw;
    top: 10vh;
    height: 89vh;
    border: solid black 1px;
}

.nav-bar {
    position: fixed;
    height: 10vh;
    display: flex;
    left: 0;
    width: 100vw;
    border: solid black 1px;
    border-radius: 3px;
    justify-content: space-around;
}

.nav-bar > * {
    position: relative;
}

.book-menu-container {
    width: 10vw;
}

.spine-item-container {
    width: 10vw;
}

.message-list-container {
    min-width: 35vw;
}

.message-list {
    width: 100%;
    z-index: 101;
    opacity: 1;
    list-style-type: none;
}

.form-control {
    margin: 5px;
    min-width: 120px !important;
}

.editing-card {
    position: absolute;
    background-color: white;
    z-index: 100;
}

.debug-display-container {
    position: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100%;
    max-width: 100%;
    z-index: 1000;
}
.debug-menu {
    background: grey;
    opacity: 50%;
    text: black;
}

/* NEW CSS */
#root {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}


.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered,
.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered > .MuiCollapse-wrapper,
.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner,
.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > div,
.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > div > div,
.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > div > div > div,
.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > div > div > div > div,
.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > div > div > div > div > div,
.book-expansion-panel > .MuiCollapse-container.MuiCollapse-entered > .MuiCollapse-wrapper > .MuiCollapse-wrapperInner > div > div > div > div > div > div
{
    max-height: 90vh !important;
    min-height: 90vh !important;
    width: 100vw;
    z-index: 0;
}
.book-expansion-panel {
    height: 90vh;
}


