.text-display {
    position: absolute;
    top: 10vh;
    left: 20vw;
    height: 90vh;
    width: 80vw;
    border: 1px solid black;
}

.card-tree-container {
    position: fixed;
    width: 20vw;
    top: 10vh;
    height: 89vh;
    border: solid black 1px;
}

.nav-bar {
    position: fixed;
    height: 10vh;
    display: flex;
    left: 0;
    width: 100vw;
    border: solid black 1px;
    border-radius: 3px;
    justify-content: space-around;
}

.nav-bar > * {
    position: relative;
}

.book-menu-container {
    width: 10vw;
}

.spine-item-container {
    width: 10vw;
}

.message-list-container {
    min-width: 35vw;
}

.message-list {
    width: 100%;
    z-index: 101;
    opacity: 1;
    list-style-type: none;
}

.form-control {
    margin: 5px;
    min-width: 120px !important;
}

.editing-card {
    position: absolute;
    background-color: white;
    z-index: 100;
}

.debug-display-container {
    position: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 100%;
    max-width: 100%;
    z-index: 1000;
}
.debug-menu {
    background: grey;
    opacity: 50%;
    text: black;
}

/* NEW CSS */
#root {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* HACK to make */
.makeStyles-popup-18 > span > div > div {
    background-color: white;
}

.led-container {
    height: 12px;
    width: 12px;
    margin-right: 10px;
}

.led {
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.led-green {
    background-color: #ABFF00;
    box-shadow: /*rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,*/ inset #304701 0 -1px 9px/*, #89FF00 0 2px 12px*/;
}
.led-off {
    background-color: #c6c6c6;
    box-shadow: /*rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,*/ inset #304701 0 -1px 9px/*, #6d6d6d 0 2px 12px*/;
}
.led-box {
    height: 12px;
    width: 12px;
    margin: 4px 4px 4px 4px;
    float: left;
}

.POPPER_ELEMENT {
    background-color: #333;
    color: white;
    padding: 15px 15px;
    border-radius: 4px;
    font-size: 13px;
    height: fit-content;
    z-index: 9999;
    display: block;
}


.recognized-text {
    height: fit-content;
    overflow: hidden;
    position: absolute;
    animation-duration: 5s;
    animation-name: slideinout;
    animation-fill-mode: forwards;
    padding: 5px;
    z-index: 1;
}

@keyframes slideinout {
    from {
        margin-top: -74px;
    }
    15% {
        margin-top: 0;
    }

    50% {
        margin-top: 0;
    }

    85% {
        margin-top: 0;
    }

    to {
        margin-top: -74px;
    }
}

.recognized-text:hover {
    height: fit-content;
    max-height: none;
}

.prompting-recording {
    border-width: 2px 2px 4px;
    border-bottom-width: 2px;
    border-style: solid;
    bottom: -2px !important;

    background-color: #ddf4ff;
    border-radius: 16px;
    box-shadow: 0px 0px 0px 5px rgb(28, 176, 246);
    transition: box-shadow 0.6s linear;
    margin: 0.5em; /* Increased margin since the box-shado expands outside the element, like outline */
}

.recording-success {
    background-color: #b8f28b;
    box-shadow: 0px 0px 0px 5px #58a700;
}
.recording-failed {
    background-color: #ffc1c1;
    box-shadow: 0px 0px 0px 5px #ea2b2b;
}

.quiz-character:hover {
    cursor: pointer;
}

.library {
    position: fixed;
    width: 25vw;
    right: -20vw;
    z-index: 3;
    transition: transform 0.5s;
    /* TODO add scss so I can use variables for my widths and stuff  */
    overflow: auto;
    height: 40vh;
    bottom: 10vh;
}
.library:hover {
    transform: translateX(-10vw);
    cursor: pointer;
}

.video {
    position: fixed;
    z-index: 3;
    transition: transform 0.5s;
    /* TODO add scss so I can use variables for my widths and stuff  */
    top: 10vh;
    height: 90vh;
    overflow: auto;
    right: 0px;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}
.video > video {
    flex-grow: 1;
    /*
    max-width: 533px;
    max-height: 300px;
    */
    /* This overflow auto line somehow makes the */
    overflow: auto;
}


.video:hover {
    cursor: pointer;
}

*:focus {
    background-color: #3db5eb;
}

.recording-ctx {
    border: solid;
}

.hotkey-active {
    /*
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 10px;
    height: 10px;
    */
    border-radius: 50%;
    background-color: #b8f28b;
    box-shadow:
            /*
            0 0 60px 30px #fff,
            */
            0 0 10px 6px #b8f28b,
            0 0 14px 9px #58a700;
}

.hotkey-inactive {

}

